table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-left: none;
  border-right: none;
}
th, td {
  padding: 5px;
}
th {
  background-color: #A9A9A9;
  color: #000;
}
table tr:nth-child(odd) {
    background: #CCC;
}
